@font-face {
    font-family: "Roboto Regular";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Medium.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Bold.ttf");
}

@font-face {
    font-family: "Roboto Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Italic.ttf");
}

@font-face {
    font-family: "Roboto Medium Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-MediumItalic.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Thin.ttf");
}

@font-face {
    font-family: "Roboto Thin Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-ThinItalic.ttf");
}


body{
    padding:0;
    margin:0;
    font-family: "Roboto Regular";
    font-size: 15px;
}

main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

header{
    background-image: linear-gradient(180deg,rgba(5,20,1,0.6) 0%,rgba(5,20,1,0.6) 100%), url('../assets/images/treatments/hot-rocks-massage.jpeg');
    background-size: cover;
    background-position: bottom;
    margin-bottom: 3em;
}

.tabs{
    margin-top: 20px;
    text-align: center;
    background-color: #B89535;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.tabs button{
    background-color: transparent;
    color: white;
    border: 1px solid #B89535;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.tabs button:hover{
    background-color: #B89535;
    color: white;
    border: 1px solid white;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.account-info{
   padding-left: 15px;
   padding-right: 15px;
}

h2{
    padding-bottom: 20px;
}

.selected-products{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.items-in-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-total-account{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid gold;
    padding-top: 12px;
}

#pay{
    align-self: end;
    width: min-content;
}

button{
    background-color: #B89535;
    color: white;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid transparent;
}

button:hover{
    background-color: white;
    color: #B89535;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #B89535;
}

button a{
    text-decoration: none;
    color: white;
}

button a:hover{
    text-decoration: none;
    color: #B89535;
}

.card{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.change {
    opacity: 0;
  }
.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }
  .m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }

/* Modal */
/* Modal : background */
.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    display: none; /* Hidden par défaut */
    position: fixed; /* Garder en place */
    z-index: 1; /* Affiché par dessus */
    top: 20px;
    margin-left: 10px;
    width: 45%; 
    height: 600px; 
    overflow: auto; /* Active le scroll Y si besoin */
    background-color: whitesmoke; 
}
  
.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 5px;

}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}

.form-field small {
    color: var(--error-color);
}
