@font-face {
    font-family: "Roboto Regular";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Medium.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Bold.ttf");
}

@font-face {
    font-family: "Roboto Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Italic.ttf");
}

@font-face {
    font-family: "Roboto Medium Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-MediumItalic.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-Thin.ttf");
}

@font-face {
    font-family: "Roboto Thin Italic";
    src: url("/assets/graphic-charter/fonts/RobotoSerif_28pt-ThinItalic.ttf");
}


body{
    padding:0;
    margin:0;
    font-family: "Roboto Regular";
    font-size: 15px;
}

/* main divided left and right */
main {
    width: 80%;
    max-width: 1300px;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vh;
    padding-top: 2em;
    display: flex;
    flex-flow: row wrap;
}

header{
    background-image: linear-gradient(180deg,rgba(5,20,1,0.6) 0%,rgba(5,20,1,0.6) 100%), url('../assets/images/backgrounds/aroma-therapy-bath.jpeg');
    background-size: cover;
    background-position: bottom;
    margin-bottom: 3em;
}

h1{
    text-align: center;
    transform: translate(0px, -275px);
    color:white;
    font-family: "Roboto Bold";
    font-size: 500%;
}

/* left side */
main .left-side-contact {
    width: 50%;
}

/* right side */
main .right-side-contact {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* main h2 information */
main h2 {
    font-family: 'now-black';
    color: #B89535;
    font-size: 2em;
    margin-top: 0px;
}

/* main p information */
main p {
    color: #808080;
    max-width: 85%;
    font-size: 1em;
}

/* input qualities : name, email, object */
main input {
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-bottom: 1em;
    background-color:white;
    border: 1px solid #B89535;
    width: 80%;
}

/* main message text area*/
main textarea {
    height: auto;
    padding-top: 1em;
    padding-bottom: 4em;
    padding-left: 1em;
    background-color: white;
    border: 1px solid #B89535;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
    color: #B89535;
}

/* main button qualities */
main button {
    width: max-content;
    height: max-content;
    margin-top: 2em;
    background-color: #B89535;
    color: white;
    text-decoration: none;
    text-align: center;
    padding : 0.8em;
    font-size: 1em;
    border: none;
}

main button:hover, .active {
    background-color: white;
    color: #B89535;
    border: 1px solid #B89535;
}

main button a{
    color: white;
    text-decoration: none;
}

main button a:hover, active{
    color: #B89535;
    text-decoration: none;
}

/* responsive design */


/* tablet 768 to 1024 */
@media screen and (min-width: 768px) and (max-width: 1024px) {    

    main{
        padding-left: 2%;
        padding-right: 2%;
        width: auto;    
    }

    main .left-side-contact {
        width: 49%;
    }


}

/* telephone mobile under 768 */
@media screen and (max-width: 768px) {

    main {
        width: 90%;
        flex-flow: column wrap;
    }

    main p { 
        max-width: 100%;
    }

    main .left-side-contact {
        width: 100%;
    }
    
    main .right-side-contact {
        width: 100%;
    }

    main input {
        width: 90%;
    }

    main textarea {
        width: 90%;
    }

}

